html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}
.row::before,
.row::after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
/* ------- HEADER ------- */
.header {
    /* background-image: linear-gradient(rgba(0, 211, 200, 0.6),
     rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.582)),
     url("../images/headerImage\ -\ Copy.jpg"); */
     background-image: linear-gradient(rgba(0, 211, 200, 0.6),
     rgba(255, 255, 255, 0.253), rgba(27, 27, 27, 0.644)),
     url("../images/headerImage-1.png");
     
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header .headerBox {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: fit-content;
    
}
.header .headerBox #hey{
    color: rgb(255, 255, 255);
    font-size: 110%;
}
.header .headerBox #name {
    color: #ffffff;
    font-size: 220%;
    text-shadow: 0 3px 3px rgb(78, 143, 140);
    font-family: 'Carter One';
}


/* ------- HEADER NAV ------- */
.main-nav {
    float: left;
    list-style: none;
    margin: 92vh auto auto;
    max-width: 1140px;
    padding: 0;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    font-size: 90%;
    color: #00a3a0;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    padding: 8px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #00d8d6;
    border-bottom: 2px solid #00d8d6;
}
/* ------- STICKY NAV ------- */
.sticky {
   position: fixed;
   top: 0; 
   left: 0;
   width: 100%;
   background-color: #00a3a0fa;
   box-shadow: 0 2px 2px #539998fa;
   z-index: 9999;
   height: 45px;
  
}
.sticky .main-nav {
    margin-top: 10px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #ffffff;
}
.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
     color: #00d8d6;
     border-bottom: 2px solid #00d8d6;

}

/* ------ MOBILE NAV ------ */
.mobile-nav-icon {
    float: right;
    margin-left: 90%;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 190%;
    color: #ffffff;
}

/* ------- SECTION ------- */

.section {
    clear: both;
    padding: 40px 0;
    margin: 0px;

}
section {
    padding: 5px 0 5px;
}
h1,
h2 {
    font-weight: 300;
    letter-spacing: 1px;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 240%;
  word-spacing: 4px;

}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after {
    display: block;
}

.title {
    margin: 60px auto 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #00c0bd;
}
#myStory .title,
#resume .title,
#project .title {
    margin-bottom: 30px;
}
#skill .title {
    margin-bottom: 0;
}




/* ///////////////////////////////// */
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ///////////////////////////////// */


.myStory {
    margin-top: 30px;
    
}
.myStory-content h3 {
    font-size: 150%;
}
.myStory .myStory-p {
    font-family: Georgia, serif;
}

#myStory-img {
    width: 90%;
    height: auto;
}



/* ------- RESUME ------- */
.resume-container {
    width: 60%;
    margin: 0 auto;
}
.btn-link {
    width: 100%;
}

#accordion .card {
    background-color: #e6e6e6;
}
.card,
.card-header,
.btn-link {
    background-color: #ffffff;
    border: none;
    text-align: left;
}
#accordion .card {
    max-height: 155px;
}

#accordion .card .card-header {
    border-bottom: 1px solid #00c0bd;
    
}

#accordion .card .card-header .mb-0 {
    transition: 0.3s;
}

#accordion .card .card-header .mb-0:hover {
    margin-left: 10px;
}


.card-header .btn {
    color: #424242;
    transition: 0.3s;
}

.card-header .btn[aria-expanded=true],
.card-header .btn:hover {
    text-decoration: none;
    color: #00c0bd;
    margin-left: 10px;
}
.card-header .btn[aria-expanded=false] {
    text-decoration: none;
}
.btn-link i {
    margin-right: 3%;
    color: #00c0bd;
}

.card-body p {
    margin: 0 auto;
}
.card-body p i {
    margin-left: 10%;
    font-size: 90%;
    color: #4d8f8e;
}



/* ------- SKILLS ------- */
.skills-container {
    width: 60%;
    margin: 0 20%;
}
.skills-ul {
    padding: 5px;
}

li.skills {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-size: 100%;
    font-weight: 500;
}
li.skills:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #87dfdd;
    border-radius: 1000px;
}
li.skills:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #00c0bd;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


li.c:after {
    animation-name: c;
}

@keyframes c {
    to {
        width: 30%;
    }
}

li.java:after {
    animation-name: java;
}

@keyframes java {
    to {
        width: 30%;
    }
}

li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 70%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 50%;
    }
}

li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 30%;
    }
}


.skills span {
    font-weight: 80%;
    color: #888888;
    font-size: 80%;
    margin-left: 3%;
}


/* ------- PROJECTS ------- */

.projects-title h6 {
    margin: 10px auto 10px;
    font-size: 100%;
    word-spacing: 2px;
    text-align: center;
} 

.project-content {
    background-color: #00a3a017;
    margin: 20px 10px 10px 5px;
    padding: 10px 20px;
    border-radius: 10px;
}
.project-content a {
    color: rgb(99, 99, 99);
    text-decoration: none;
}
.project-content a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.project-content a .projects-title {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.project-content a:hover .d-block {
    opacity: 1;
    transition: 0.4s;
}
.d-block {
    opacity: 0.7;
}

.slide {
    margin: 5px auto 20px;
    width: 80%;
    /* height: 60% + 10px; */

    /* margin-bottom: 20px; */
}
.projects img {
    border-radius: 5px;
}

.project-content p {
    text-align: center;
    margin: 10px;
    font-size: 80%;

}


/* ------- CONTACT ------- */

.contact-form {
    width: 60%;
    margin: 40px auto 0;   
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 0;
    box-shadow: 1px 1px 2px #458d8c;

}
.contact-form input[type=submit] {
    width: 100px;
    background-color: #00c0bd;
    border: 0;
    height: 35px;
    border-radius: 1.5rem;
    color: #ffffff;
    margin: 0;
    font-size: 100%;
    cursor: pointer;
}
.contact-form input[type=submit]:hover,
.contact-form input[type=submit]:active {
    background-color: #00d8d6;
    
}

.contact-label {
    margin-left: 35%;
    color: #00c0bd;
    border-bottom: 1px solid #00d8d6;
    font-size: 90%;
}
::placeholder {
    font-size: 70%;
}

/* ------- CONTACT 2 ------- */


#email-btn {
    background-color: #00a3a0;
    border: none;
    border-radius: 1.5em;
    padding: 10px 20px;
    font-size: 100%;
    transition: 0.4s;
    color: white;
    text-decoration: none;
    margin: 30px auto 10px;
    
}
#email-btn:hover {
    background-color: #00d8d6;  
}

#email-address {
    color: #00a3a0;
    opacity: 0;
    margin: 20px auto;
    font-weight: 500; 
    border-bottom: 1px solid #00a3a0;
}





.footer-container {
    background-color: #00a3a0fa;
    margin-top: 40px;
}
.footer-container ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    padding: 0;
}
.footer-container ul li {
    margin-left: 40px;
    font-size: 100%;
    padding: 10px 0 10px;
}
.footer-container ul li:first-child {
    margin-left: 0;
}

.footer-container ul li a {
    color: #ffffff;
    transition: 0.4s;
}
.footer-container ul li a:hover {
    color: #a8a8a8;
    transition: 0.4s;
    
}


/* ------- ANIMATION ------- */
/* .myStory-animation,
.skills-animation { */
    /* opacity: 0;
    animation-duration: 0.6s; */
/* } */
.myStory-animation.animated,
.skills-animation.animated {
    opacity: 1;
}


